.login-header {
    background-color: #000;
}

.login-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1512px;
}

.login-main {
    margin: 0 auto 100px;
}

.login-header__content {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.login-title {
    margin-bottom: 64px;
    margin-top: 88px;
}