/* ================================
    Auth Page
================================ */

.p-login__title {
    margin-bottom: 64px;
    margin-top: 88px;
}

.p-register__link {
    margin-top: 32px;
}

.p-register__title {
    margin-bottom: 48px;
    margin-top: 80px;
}

.p-login__link {
    margin-top: 32px;
}

/* ================================
    Verify－Email Page
================================ */

.p-email {
    margin: 0 auto;
    max-width: 720px;
}

.p-email__text,
.p-email__button {
    font-size: 24px;
    font-weight: bold;
}

.p-email__text {
    margin: 240px 0 0;
    text-align: center;
}

.p-email__button {
    width: 257px;
    margin: 56px auto;
}

.p-email__button--submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 69px;
    color: #000;
    border: 1px solid #000;
    border-radius: 6px;
    background-color: #d9d9d9;
    cursor: pointer;
    text-decoration: none;
}

.p-email__button--submit:hover {
    color: #398ac8;
}

.p-email__button--submit:active {
    transform: scale(0.98);
}

.p-email-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-email-link__text {
    background: none;
    border: none;
    cursor: pointer;
}

/* ================================
    Attendance index Page
================================ */

.p-attendance__card {
    text-align: center;
    padding-top: 208px;
}

.p-attendance__status {
    display: flex;
    justify-content: center;
    width: 100%;
}

.p-attendance__status--inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 40px;
    margin: 0 0 24px;
    font-size: 18px;
    color: rgb(105 105 105 / 100%);
    border-radius: 50px;
    background-color: rgb(200 200 200 / 100%);
}

.p-attendance__date {
    margin: 0;
    font-size: 40px;
}

.p-attendance__time {
    margin: 24px 0 56px;
    font-size: 80px;
    font-family: Inter, sans-serif;
}

.p-attendance__actions {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 80px;
}

.p-attendance__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 77px;
    font-size: 32px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.p-attendance__button--start,
.p-attendance__button--finish {
    color: #fff;
    background-color: #000;
}

.p-attendance__button--break-in,
.p-attendance__button--break-out {
    color: #000;
    background-color: #fff;
}

.p-attendance__button:hover {
    box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
    cursor: pointer;
}

.p-attendance__button:active {
    box-shadow: none;
    transform: scale(0.95);
}

.p-break-icon {
    transform: translateY(3px);
}

.p-attendance__message {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.15em;
}

